/*Reset*/
* {
    padding: 0px;
    margin: 0px;
}

:root {
    --clr-gray-light: #d7dfe2;
    --clr-gray-med: #616b74;
    --clr-gray-dark: #414b56;
}

/*header styles*/

header {
    background-image: linear-gradient(rgba(87, 87, 87, 0.5), rgba(26, 26, 26, 0.5)), url('../Images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 2em 0 2em 0;
    justify-content: center;
    align-items: center;
    border-bottom: .1em solid black;
    height: 12.5em;
}

h1 {
    color: #ffffff;
    width: 65%;
    text-align: center;
    border-radius: 2em;
}

/*nav styles*/
#nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #262727;
    border-bottom: .1em solid black;
}

#nav_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 150%;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}

#nav_menu a img {
    max-height: 2em;
    max-width: 2em;
}

#nav_menu li {
    display: inline-block;
    margin-right: 3em;
    font-family: 'Montserrat', sans-serif;
}

#nav_menu li a {
    text-decoration: none;
    color: #ffffff;
    flex: 2;
}

#nav_menu .current{
    color: #42C2FF;
}

/*body styles*/
body {
    background-color: #fafafa;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

p,
li {
    font-size: 150%;
    font-weight: 150;
    font-family: 'Nunito Sans', sans-serif;
}

/*Setting up a basic grid layout now*/
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, .5fr);
    grid-template-areas:
        "article"
        "about";
}

main h2 {
    font-size: 200%;
}

/*section styles*/
section {
    display: flex;
    margin-top: 1.5em;
    grid-area: about;
}

#review {
    flex: 1;
    margin-left: 3em;
    margin-right: 1em;
}

#intro {
    flex: 1;
    margin-right: 3em;
    margin-left: 1em;
}

section p {
    margin-bottom: 3em;
}

section ul {
    padding-top: .5em;
    padding-left: 3em;
    margin-bottom: 1em;
}
/*Article Styles*/
article {
    grid-area: article;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    display: flex;
    border-radius: 1em;
    border: 1px solid black;
    box-shadow: 0px 2px 20px var(--clr-gray-light);
    width: 45%;
    overflow: hidden;
    background-color: #ffffff;
    margin: 3em 0;
    transition: 250ms all ease-in-out;
    cursor: pointer;
}

.card a {
    display: flex;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px var(--clr-gray-light);
}

.card-body {
    margin:0 .5em;
    flex: 1.5;
}

.card-body h2 {
    text-align: center;
}

.card-body p{
    text-align: center;
    padding-top: 2em;
}

.card-banner {
    text-align: center;
    border-right: .2em solid black;
    flex: 2;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 2em;
}

.card-banner {
    width: 80%;
}

/*Footer styles*/
footer {
    font-size: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding-left: 5em;
    background-color: #262727;
    color: #ffffff;
    height: 2.5em;
}

/*Sets a rainbow text effect. the background clip fills in the transparent text with the rainbow background gradient. Had to add webkit properties because it wasn't rendering properly in my browser */
.rainbow {
    background-image: linear-gradient(to left, #cc49cc, #4b0082, #0000ff, #008000, #969607, #b87b0b, #ff0000);
    background-clip: text;
    color: #ffffff00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/*pseudo classes*/
:link {
    color: #42C2FF;
}

:visited {
    color: #42C2FF;
}

@media only screen and (max-width: 1100px) {
    .card-body h2 {
        font-size: 175%;
    }

    .card-body p {
        font-size: 125%;
    }
}

@media only screen and (max-width: 950px){
    /*Increase width to improve visibility*/
    .card{
        width: 55%;
    }
}

@media only screen and (max-width: 825px) {
    /*Edit nav menu into a mobile format*/
    #nav_menu {
        flex-direction: column;
    }

    #nav_logo {
        justify-content: center;
    }

    #nav_logo a {
        order: 1;
    }

    #nav_menu li {
        order: 2;
        margin: .5em 2em .5em 2em;
        flex-wrap: nowrap;
    }
    /*Change the view sizes to even out area*/
    main{
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr;
        grid-template-areas:
        "article"
        "about";
    }
    /*Turn description into a column format. Setting flex to 1 fixes issue where the intro would take up more space*/
    section {
        flex-direction: column;
    }
    
    #review {
        flex: 1;
        margin-left: 1em;
        margin-right: 1em;
    }

    #intro {
        flex: 1;
        margin-right: 1em;
        margin-left: 1em;
    }
/*Alter the card into a vertical card*/
    .card a {
        flex-direction: column;
    }

    .card-banner {
        border: none;
    }

    .banner-img {
        width: 150%;
    }

    .card-body {
        margin: .5em
    }

}

/*Get rid of article description to preserve space*/
@media only screen and (max-width: 691px) {
   
    footer {
        font-size: 40%;
    }

    .card-body p{
        display: none;
    }

}
/*Shrink to avoid wrap*/
@media only screen and (max-width: 595px) {
    h1 {
        width: 100%;
        font-size: 180%;
    }
    
    #nav_menu li {
        font-size: 150%;
        margin: .5em .5em .5em .5em;
    }
}
/*Increase article card size to increase readability*/
@media only screen and (max-width: 450px){
    .card{
        width: 60%;
    }
}
/*Continue to shrink nav to avoid wrapping*/
@media only screen and (max-width: 379px) {
    #nav_menu li {
        font-size: 130%;
    }
}

@media only screen and (max-width: 331px) {
    #nav_menu li {
        font-size: 120%;
    }
}